//====================================================================================================
.footer {
  background: var(--bg-footer);
  color: #fff;
  padding: 70px 0px 0px 0px;

  &__container {
    display: flex;
  }

  &__nav {
    .menu__list {
      flex-direction: column;
      gap: 20px;
    }
    .menu__link {
      color: #fff;
    }
  }

  &__contacts {
    .contacts {
      flex-direction: column-reverse;
      &__link {
        span {
          display: block;
        }
      }
    }
  }

  &__policy {
    background: #152847;
    padding: 20px;
    text-align: center;
    color: #fff;
    font-family: PTSansNarrow, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    line-height: 108%;
  }
}

//====================================================================================================
