<section class="about">
  <div class="about__container">
    <p class="about__subheading subheading">Про мене</p>
    <!-- <h2 class="about__heading heading_2">Мене звати Ірина Краснюк</h2> -->

    <div class="about__content">
      <div class="about__img">
        <div class="instagram">
          <a href="" class="">
            <div class="">
              <svg class="">
                <use xlink:href="@img/icons/icons.svg#instagram"></use>
              </svg>
            </div>
          </a>
        </div>
        <div class="telegram">
          <a href="" class="">
            <div class="">
              <svg class="">
                <use xlink:href="@img/icons/icons.svg#telegram_icon"></use>
              </svg>
            </div>
          </a>
        </div>
        <div class="img__1 animated-element">
          <img src="@img/about_img_1.jpg" alt="" />
        </div>
        <div class="img__2 animated-element">
          <img src="@img/about_img_2.jpg" alt="" />
        </div>
        <div class="img__3 animated-element">
          <img src="@img/about_img_3.jpg" alt="" />
        </div>
        <div class="img__4 animated-element">
          <img src="@img/about_img_4.jpg" alt="" />
        </div>
        <div class="img__5 animated-element">
          <img src="@img/about_img_5.jpg" alt="" />
        </div>
        <div class="img__6 animated-element">
          <img src="@img/brain_color.png" alt="" />
        </div>
        <!-- <div class="phone">
          <a href="tel:+380730628245" class="">
            <div class="">
              <svg class="">
                <use xlink:href="@img/icons/icons.svg#phone"></use>
              </svg>
            </div>
          </a>
        </div>
        <div class="adress">
          <a href="" class="" target="_blank">
            <div class="">
              <svg class="">
                <use xlink:href="@img/icons/icons.svg#point"></use>
              </svg>
            </div>
          </a>
        </div> -->
      </div>
      <div>
        <div class="about__text">
          <h2 class="about__title title">Моя Спеціалізація</h2>
          <p class="about__text-body body_2">
            Я дитячий нейропсихолог, перинатальний психолог, спеціаліст у сфері
            дитинства з досвідом понад 5 років.Автор та ведуча навчаючи програм
            та вебінарів для батьків та спеціалістів.
          </p>
        </div>
        <div class="about__text">
          <h3 class="about__title title">Чому Батьки Довіряють Мені?</h3>
          <p class="about__text-body body_2">
            Бо бачать результат вже після першої консультації, отримують дієві
            рекомендації та реальну причину труднощів, а також зрозумілою мовою
            дізнаються про все, що відбувається з дитиною з точку зору роботи
            мозку.
          </p>
        </div>
        <div class="about__text">
          <h3 class="about__title title">Чим Cаме Я Займаюсь</h3>
          <p class="about__text-body body_2">
            Діагностую дітей. Провожу онлайн консультації для батьків та
            нейропсихологічні «міні» діагностики онлайн з дітьми від 5 років.
            Веду супервізійну роботу (веду спеціалістів, які займаються з
            дітьми)
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
