<section class="cases">
  <div class="cases__container">
    <p class="cases__subheading subheading">Кейси</p>
    <h2 class="cases__heading heading_2">З якими кейсами я працюю</h2>
    <div class="cases__content">
      <div class="cases__item">
        <div class="cases__item-imgs item">
          <div class="item__img-1">
            <img src="@img/photo_2023-09-14_22-27-31 (4).jpg" alt="" />
          </div>
          <div class="item__img-2">
            <img src="@img/photo_2023-09-14_22-27-31 (5).jpg" alt="" />
          </div>
          <div class="item__img-3">
            <img src="@img/photo_2023-09-14_22-27-31.jpg" alt="" />
          </div>
          <div class="item__img-4">
            <img src="@img/photo_2023-09-14_22-27-31 (2).jpg" alt="" />
          </div>
          <div class="item__img-5">
            <img src="@img/photo_2023-09-14_22-27-31 (3).jpg" alt="" />
          </div>
        </div>
        <ul class="cases__item-list body_2">
          <li>
            <span>&#10003;</span>
            Розвиток дитини за віком, «прокачування» її слабких сторін (а вони є
            у кожної дитини)
          </li>
          <li>
            <span>&#10003;</span>Діти з труднощами в навчанні (дислексія,
            дисграфія)
          </li>
          <li>
            <span>&#10003;</span>Діти, що не говорять/погано говорять (ЗПР,
            ЗПРР)
          </li>
          <li><span>&#10003;</span>Селективний мутизм</li>
          <li>
            <span>&#10003;</span>Діти з тиками, нав'язливістю, синкенезіями
          </li>
        </ul>
      </div>
      <div class="cases__item">
        <!-- <h4 class="cases__item-title title">
          Чи потрібна діагностика лише дітям із затримками?
        </h4>
        <p class="cases__item-body body_2">
          Ні, діагностика показує актуальний розвиток вищих психічних функцій
          дитини, загальний стан дитини, що їй «заважає» розкрити свій
          потенціал, на що треба звернути увагу батькам, які є слабкі та сильні
          сторони у розвитку, які секції допоможуть їх розвинути.
        </p> -->
        <ul class="cases__item-list body_2">
          <li>
            <span>&#10003;</span>Діти-лівші з труднощами в комунікації та
            навчанні
          </li>
          <li>
            <span>&#10003;</span>Емоційно не стабільні діти/з частими істериками
            і тд.
          </li>
          <li><span>&#10003;</span>Залежність від гаджетів</li>
          <li><span>&#10003;</span>Діти з гіперактивністю, діти з СДУГ</li>
          <li><span>&#10003;</span>Діти із затримкою розвитку, діти з РАС</li>
        </ul>
        <div class="cases__item-img">
          <img src="@img/neuro.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
