<div class="contacts">
  <a href="" class="contacts__link">
    <div class="contacts__instagram icon">
      <svg class="contacts__icon">
        <use xlink:href="@img/icons/icons.svg#instagram"></use>
      </svg>
    </div>
  </a>
  <a href="" class="contacts__link">
    <div class="contacts__telegram icon">
      <svg class="contacts__icon">
        <use xlink:href="@img/icons/icons.svg#telegram_icon"></use>
      </svg>
    </div>
  </a>
  <a href="tel:+380730628245" class="contacts__link">
    <div class="contacts__phone icon">
      <svg class="contacts__icon">
        <use xlink:href="@img/icons/icons.svg#phone"></use>
      </svg>
    </div>
    <span>+380730628245</span>
  </a>

  <a href="" class="contacts__link" target="_blank">
    <div class="contacts__location icon">
      <svg class="contacts__icon">
        <use xlink:href="@img/icons/icons.svg#point"></use>
      </svg>
    </div>
    <span>Odessa</span>
  </a>
</div>
