<section class="diagnostics">
  <div class="diagnostics__container">
    <p class="diagnostics__subheading subheading">Послуги</p>
    <h2 class="diagnostics__heading heading_2">Які послуги я надаю?</h2>
    <div class="diagnostics__content">
      <div class="card elementToToggle">
        <div class="content">
          <div class="front card_1">
            <img class="front__img" src="@img/card_1.jpg" alt="" />
            <div class="inner">
              <h2 class="front__title title_3">Нейропсихолочна діагностика</h2>
              <p class="front__caption body_3">- вік 2-12 років (очно)</p>
              <p class="front__caption body_3">- письмовий висновок</p>
              <button class="btn front__btn info">Дізнатись більше</button>
            </div>
          </div>
          <div class="back">
            <div class="inner">
              <h2 class="back__title title_3">Що включає?</h2>
              <ul class="back__list list">
                <li class="list__item">
                  провожу діагностичні проби/завдання за віком;
                </li>
                <li class="list__item">
                  даю батькам зворотній звязок про актуальний розвиток дитини,
                  можливі проблеми, схематично малюю і детально розповідаю
                  батькам;
                </li>
                <li class="list__item">
                  відповідаю на питання , даю чіткий план коррекціі поведінки,
                  емоційних станів дитини тощо;
                </li>
                <li class="list__item">
                  виявляю сильні та слабкі сторони дитини, даю рекомендаціі щодо
                  відвідувань спортивних секцій та гуртків;
                </li>
                <li class="list__item">
                  навчаю як, коли і в які настільні ігри грати з дитиною;
                </li>
                <li class="list__item">складаю программу для занять</li>
                <li class="list__item">веду дитину віддалено;</li>
              </ul>
              <button class="btn info toggleButton back__btn">
                Повернутись
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="content">
          <div class="front card_2">
            <img class="front__img" src="@img/card_2.jpg" alt="" />
            <div class="inner">
              <h2 class="front__title title_3">
                Нейропсихологічна діагностика
              </h2>
              <p class="front__caption body_3">- вік 2-12 років (очно)</p>
              <p class="front__caption body_3">- усне заключення</p>
              <button class="btn front__btn info">Дізнатись більше</button>
            </div>
          </div>
          <div class="back">
            <div class="inner">
              <h2 class="back__title title_3">Що включає?</h2>
              <button class="btn info toggleButton back__btn">
                Повернутись
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="content">
          <div class="front card_3">
            <img class="front__img" src="@img/card_3.jpg" alt="" />
            <div class="inner">
              <h2 class="front__title title_3">
                Нейропсихологічний зріз ОНЛАЙН
              </h2>
              <p class="front__caption body_3">- вік від 5 років</p>
              <button class="btn front__btn info">Дізнатись більше</button>
            </div>
          </div>
          <div class="back">
            <div class="inner">
              <h2 class="back__title title_3">Що включає?</h2>
              <ul class="back__list list">
                <li class="list__item">
                  це не повноцінна діагностика, так як онлайн. Але розгорнуте
                  опитування та проведення проб віддалено - що нам відповість на
                  всі питання щодо актуального розвитку дитини, відвідування
                  секцій, готовності до школи, програми коррекціі,
                  рекомендаціями спеціалістів
                </li>
              </ul>
              <button class="btn info toggleButton back__btn">
                Повернутись
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="content">
          <div class="front card_4">
            <img class="front__img" src="@img/card_4.jpg" alt="" />
            <div class="inner">
              <h2 class="front__title title_3">
                Онлайн - консультація для батьків
              </h2>
              <button class="btn front__btn info">Дізнатись більше</button>
            </div>
          </div>
          <div class="back">
            <div class="inner">
              <h2 class="back__title title_3">Що включає?</h2>
              <ul class="back__list list">
                <li class="list__item">
                  це не повноцінна діагностика, так як онлайн. Але розгорнуте
                  опитування та проведення проб віддалено - що нам відповість на
                  всі питання щодо актуального розвитку дитини, відвідування
                  секцій, готовності до школи, програми коррекціі,
                  рекомендаціями спеціалістів
                </li>
              </ul>
              <button class="btn info toggleButton back__btn">
                Повернутись
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="content">
          <div class="front card_5">
            <img class="front__img" src="@img/card_5.jpg" alt="" />
            <div class="inner">
              <h2 class="front__title title_3">Заняття індивідуально</h2>
              <button class="btn front__btn info">Дізнатись більше</button>
            </div>
          </div>
          <div class="back">
            <div class="inner">
              <h2 class="back__title title_3">Що включає?</h2>
              <ul class="back__list list">
                <li class="list__item">
                  можливі після проходження нейродіагностики;
                </li>
                <li class="list__item">
                  складаю та займаюсь з дитиною по індивідуальній програмі
                  коррекціі;
                </li>
                <li class="list__item">
                  після занять даю реокмендаціі щодо розвитку та закріплення
                  пройденого матеріалу;
                </li>
                <li class="list__item">
                  після 1-2 місяців коррекціі батьки вже бачать результат
                </li>
              </ul>
              <button class="btn info toggleButton back__btn">
                Повернутись
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="content">
          <div class="front card_6">
            <img class="front__img" src="@img/card_6.jpg" alt="" />
            <div class="inner">
              <h2 class="front__title title_3">Супервізія для спеціалістів</h2>
              <button class="btn front__btn info">Дізнатись більше</button>
            </div>
          </div>
          <div class="back">
            <div class="inner">
              <h2 class="back__title title_3">Що включає?</h2>
              <ul class="back__list list">
                <li class="list__item">детальний розбір кейсів;</li>
                <li class="list__item">
                  опис і розбір реальних випадків (діагностика, коррекція);
                </li>
                <li class="list__item">
                  рекомендаціі літератури та програм коррекціі;
                </li>
                <li class="list__item">ведення спеціалістів в роботі</li>
              </ul>
              <button class="btn info toggleButton back__btn">
                Повернутись
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
