<section class="faq">
  <div class="faq__container">
    <h2 class="faq__heading heading_2">Поширині запитання</h2>
    <div data-spollers data-one-spoller class="spollers">
      <details class="spollers__item">
        <summary data-spoller-close class="spollers__title">
          З якого віку можна проводити нейродіагностіку?
        </summary>
        <div class="spollers__body">
          <p>
            Самый точный и правильный способ определения цены автополива — выезд
            нашего специалиста на замеры, для составления план-схемы и сметы с
            учетом всех ваших пожеланий.
          </p>
        </div>
      </details>

      <details class="spollers__item">
        <summary data-spoller-close class="spollers__title">
          Какое обслуживание необходимо для системы?
        </summary>
        <div class="spollers__body">
          <p>
            Система полива достаточно надежна и, как правило, хватает двух
            визитов специалистов по сервисному обслуживанию в год. Осенняя
            консервация (продувка) на зимний период и весеннее тестирование с
            запуском.
          </p>

          <p>
            <strong>Мы можем научить Вас делать это самостоятельно!</strong>
          </p>
        </div>
      </details>

      <details class="spollers__item">
        <summary data-spoller-close class="spollers__title">
          У меня уже есть газон. Что будет с ним при монтаже системы?
        </summary>
        <div class="spollers__body">
          <p>
            С этим мы часто сталкиваемся. На самом деле проблем нет, если делать
            всё аккуратно.
          </p>

          <p>
            Газон аккуратно вырезается специальными ножами и кладётся на
            полиэтилен. После монтажа всё принимает первоначальный вид. Делается
            всё «день в день».
          </p>

          <p>Швы полностью зарастают в течение 1-2х недель.</p>
        </div>
      </details>

      <details class="spollers__item">
        <summary data-spoller-close class="spollers__title">
          Рулонный газон или сеяный, какой выбрать?
        </summary>
        <div class="spollers__body">
          <p>
            Тут мнения расходятся. И у одного, и другого есть как достоинства,
            так и недостатки. Давайте разбираться.
          </p>

          <p>
            Рулонный газон — это выбор тех, кто не хочет ждать. Кому надоел
            сорняк на участке и хочется зеленый сад уже сейчас. С правильным
            подходом работу по устройству рулонного газона можно выполнить даже
            за 2 дня.
          </p>

          <p>
            Также из плюсов хочется отметить, что рулонный газон выращен на поле
            по специальным технологиям. И прежде чем попасть на ваш участок, за
            ним ухаживают, подкармливают, косят, проводят аэрацию и скарификацию
            в течение 2х лет. Корневая система формируется крепкой, устойчивой к
            стрессам и болезням.
          </p>

          <p>
            В отличии от рулонного, сеяный — для тех, кто готов подождать.
            Всходит сеяный газон только через неделю. Требует к себе постоянного
            внимания и бережного отношения. На раннем этапе появляются
            проплешины, которые нужно подсевать.
          </p>

          <p>
            Самым главным в устройстве сеяного газона является подготовка
            грунта. Если плохо протравить сорняк, он снова заполонит ваш
            участок.
          </p>

          <p>
            Также не каждая система полива подойдет для сеяного газона. К
            примеру, роторные дождеватели орошают участок одной струёй, которая
            способна размыть семена.
          </p>

          <p>
            Наши специалисты имеют опыт в устройстве как рулонного, так и
            сеяного газона. Поэтому, если у вас есть вопросы, смело обращайтесь
            к нам!
          </p>
        </div>
      </details>

      <details class="spollers__item">
        <summary data-spoller-close class="spollers__title">
          Можно купить только газон? Поливать буду самостоятельно?
        </summary>
        <div class="spollers__body">
          <p>
            Рулонный газон можно устанавливать и без системы полива, но только
            на ваш страх и риск.
          </p>

          <p>
            Добиться идеального изумрудного газона в нашем засушливом регионе
            без автоматического полива очень сложно. Поливать его нужно 1-2 раза
            в день. Теневые участки поливаются реже. К тому же, человеческий
            фактор никто не отменял. Если захотите уехать в отпуск на неделю,
            без полива газон может сгореть за 3-4 дня.
          </p>

          <p>
            Также, ни один поставщик газона не даст гарантию даже на 1 день без
            системы полива.
          </p>

          <p>
            Не бросайте деньги на ветер! Даже самая бюджетная система автополива
            избавит вас от головной боли.
          </p>

          <p>
            Мы знаем, как сэкономить ваши деньги на автополиве. Звоните, мы
            подскажем!
          </p>
        </div>
      </details>

      <details class="spollers__item">
        <summary data-spoller-close class="spollers__title">
          А если пойдет дождь?
        </summary>
        <div class="spollers__body">
          <p>
            Существуют погодные датчики, которые останавливают работу системы во
            время дождя. Мы рекомендуем их устанавливать на каждом объекте.
          </p>
        </div>
      </details>
    </div>
  </div>
</section>
