<section class="hero">
  <div class="hero__container">
    <div class="hero__content">
      <h1 class="hero__heading heading">
        Нейропсихологічна <span>Діагностика</span>
      </h1>
      <p class="hero__text body">
        Моє головне завдання, як нейропсихолога — це виявити сильні та слабкі
        сторони головного мозку дитини і привести їх до балансу.Розкрити
        потенціал кожної дитини та виявити причини труднощів.
      </p>
    </div>
    <div class="hero__img-wrap">
      <div class="hero__img-bg">
        <img class="hero-img" src="@img/hero-3.png" alt="hero-img" />
      </div>
    </div>
  </div>
</section>
