<div class="trust-trigger">
  <div class="trust-trigger__container">
    <div class="trust-trigger__item">
      <p class="trust-trigger__number number">1000+</p>
      <div class="trust-trigger__img">
        <img class="trust-trigger__icon" src="@img/family_.png" alt="" />
      </div>
      <p class="trust-trigger__text body">Я вже допомогла більше 1000 сім'ям</p>
    </div>

    <div class="trust-trigger__item">
      <p class="trust-trigger__number number">Досвід</p>
      <div class="trust-trigger__img">
        <img class="trust-trigger__icon" src="@img/experience_.png" alt="" />
      </div>
      <p class="trust-trigger__text body">Більшее 10 років досвіду</p>
    </div>
    <div class="trust-trigger__item">
      <p class="trust-trigger__number number">Освіта</p>
      <div class="trust-trigger__img">
        <img class="trust-trigger__icon" src="@img/education_.png" alt="" />
      </div>
      <p class="trust-trigger__text body">Постійно підвищую кваліфікацію</p>
    </div>
    <div class="trust-trigger__item">
      <p class="trust-trigger__number number">Підхід</p>
      <div class="trust-trigger__img">
        <img class="trust-trigger__icon" src="@img/individuality_.png" alt="" />
      </div>
      <p class="trust-trigger__text body">
        Індівідуальній підхід до кожної дитини
      </p>
    </div>
  </div>
</div>
