<div class="trust-triggers">
  <div class="trust-triggers__container">
    <div class="trust-triggers__item">
      <img
        class="trust-triggers__item-img"
        src="img/safety-shield.png"
        alt=""
      />
      <p class="trust-triggers__item-body">Гарантия оборудования 5 лет</p>
    </div>
    <div class="trust-triggers__item">
      <img
        class="trust-triggers__item-img"
        src="img/quality-award3.png"
        alt=""
      />
      <p class="trust-triggers__item-body">Опыт работы на рынке более 9 лет</p>
    </div>
    <div class="trust-triggers__item">
      <img class="trust-triggers__item-img" src="img/thumb-up.png" alt="" />
      <p class="trust-triggers__item-body">
        Большое количество положительных отзывов
      </p>
    </div>
    <div class="trust-triggers__item">
      <img class="trust-triggers__item-img" src="img/testing.png" alt="" />
      <p class="trust-triggers__item-body">Профессиональный подход</p>
    </div>
    <div class="trust-triggers__item">
      <img class="trust-triggers__item-img" src="img/money.png" alt="" />
      <p class="trust-triggers__item-body">Комфортное ценообразование</p>
    </div>
  </div>
</div>
