// ===============
// colors palette
// ===============
:root {
  // Background colors :
  // =================================================================
  --bg-primary: #7da1b9;
  --bg-header: #4f78ab;
  --bg-footer: #152847;
  --bg-hero: #eff8fb;
  // Text colors :
  // =================================================================
  --main-color: #204066;
  --heading: #204066;
  --subheading: #4f78ab;
  --text-primary: #757f95;
  --text-secondary: #fff;
  --text-link: #fff;
  // =================================================================
}
