.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(26, 162, 158, 1) 35%,
    rgba(43, 57, 144, 1) 100%
  );
  color: #fff;
  border: 2px solid #2b3990;
  padding: 15px 40px;
  border-radius: 100px;
  font-size: 20px;
  text-transform: uppercase;
  box-shadow: none;
  transition: all 0.3s ease-in;
  font-family: PTSansNarrow;
  font-weight: 400;
}

.btn:hover {
  border-color: #2b3990;
  background: #fff;
  color: #2b3990;
}
