.stock {
  padding: 100px 0;
  position: relative;
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  &__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex: 1 1 50%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: rgb(224, 224, 224, 0.5);

    border-radius: 0 10px 10px 0;
    width: 100%;
  }

  &__heading {
    color: #eb0100;
  }

  &__content-text {
    font-family: PTSansNarrow, sans-serif;
    line-height: 24px;
    font-size: 18px;
    max-width: 80%;
    color: #000;
  }

  &__content-img {
    max-width: 300px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

    border: 4px solid rgba(224, 224, 224, 0.5);
    border-radius: 10px 0 0 10px;
    width: 100%;
    gap: 16px;
  }
  &__form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    font-family: PTSansNarrow, sans-serif;

    @media (max-width:$mobileSmall){
      width: 100%;
    }
  }

  &__form-labele {
    font-size: 24px;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
  }

  &__input {
    font-size: 20px;
    padding: 8px 14px;
  }

  &__submit {
    width: 60%;
  }
}
.form-group__labele {
  display: none;
}

@media (max-width: $mobile) {
  .stock {
    &__container {
      flex-direction: column;
      justify-content: center;
      flex: 1 1 100%;
    }

    &__content {
      border-radius: 10px 10px 0 0;
    }

    &__form {
      border-radius: 0 0 10px 10px;
    }

    &__form-labele {
      margin: 30px 0 0;
    }

    &__submit {
      margin: 0 0 40px;
    }
  }
  .form-group__labele {
    display: none;
  }
}
